<div id="ProductInfo-{{ section.id }}-{{ card_product.id }}" class="category-card-body">
   <div class="title-wrapper">
      {% if show_vendor %}<div class="product-type">{{ card_product.type }}</div>{% endif %}
      <h3 class="product-title"><a href="{{ card_product.url | default: '#' }}">{{ card_product.title }}</a></h3>
      {% if show_review %}
         <!-- Start of Judge.me code -->
              <div class='jdgm-widget jdgm-preview-badge'>
                {{ card_product.metafields.judgeme.badge }}
              </div>
            <!-- End of Judge.me code -->
      {% endif %}
   </div>
   <div class="no-js-hidden price" id="price-{{ section.id }}-{{ card_product.id }}" role="status" {{ block.shopify_attributes }}>
      {% render 'price', product: card_product,use_variant: true, price_class: '' %}
   </div>
   <product-form class="product-form btn-wrapper">
      <div class="wbquicksuccess hidden" hidden>{{ 'wbcustomlabel.wballtext.quicksuccessmsg' | t }}</div>
      <div class="product-form__error-message-wrapper" role="alert" hidden>
         <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
         <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
         <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
         <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
         <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
         </svg>
         <span class="product-form__error-message"></span>
      </div> 
      {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
         <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
         <button type="submit" name="add" class="addtocart-btn btn product-form__submit" aria-label="{{ 'products.product.add_to_cart' | t }}" {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
               {%- if card_product.selected_or_first_available_variant.available -%}
                  <span>{{ 'products.product.add_to_cart' | t }}</span>
               {%- else -%}
                  <span>{{ 'products.product.sold_out' | t }}</span>
               {%- endif -%}
               <svg xmlns="http://www.w3.org/2000/svg" width="4" height="6" viewBox="0 0 4 6" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.65976 0.662719C0.446746 0.879677 0.446746 1.23143 0.65976 1.44839L2.18316 3L0.65976 4.55161C0.446747 4.76856 0.446747 5.12032 0.65976 5.33728C0.872773 5.55424 1.21814 5.55424 1.43115 5.33728L3.34024 3.39284C3.55325 3.17588 3.55325 2.82412 3.34024 2.60716L1.43115 0.662719C1.21814 0.445761 0.872773 0.445761 0.65976 0.662719Z" fill="white"></path>
               </svg>
               <div class="loading-overlay__spinner hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.494 511.494" style="enable-background:new 0 0 511.494 511.494;" xml:space="preserve" width="20" height="20">
                        <g>
                           <path d="M478.291,255.492c-16.133,0.143-29.689,12.161-31.765,28.16c-15.37,105.014-112.961,177.685-217.975,162.315 S50.866,333.006,66.236,227.992S179.197,50.307,284.211,65.677c35.796,5.239,69.386,20.476,96.907,43.959l-24.107,24.107   c-8.33,8.332-8.328,21.84,0.004,30.17c4.015,4.014,9.465,6.262,15.142,6.246h97.835c11.782,0,21.333-9.551,21.333-21.333V50.991   c-0.003-11.782-9.556-21.331-21.338-21.329c-5.655,0.001-11.079,2.248-15.078,6.246l-28.416,28.416   C320.774-29.34,159.141-19.568,65.476,86.152S-18.415,353.505,87.304,447.17s267.353,83.892,361.017-21.828   c32.972-37.216,54.381-83.237,61.607-132.431c2.828-17.612-9.157-34.183-26.769-37.011   C481.549,255.641,479.922,255.505,478.291,255.492z"/>
                        </g>
                  </svg>
               </div> 
         </button>
      {%- endform -%}
   </product-form>
</div>