<section class="register-page padding-bottom padding-top">
   <div class="container">
     <div class="row justify-content-center">
        <div class="col-lg-7 col-12">
          <div class="d-flex justify-content-center back-toshop">
            <a href="javascript&colon;history.go(-1)" class="back-btn">
                <span class="svg-ic">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 5" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5791 2.28954C10.5791 2.53299 10.3818 2.73035 10.1383 2.73035L1.52698 2.73048L2.5628 3.73673C2.73742 3.90636 2.74146 4.18544 2.57183 4.36005C2.40219 4.53467 2.12312 4.53871 1.9485 4.36908L0.133482 2.60587C0.0480403 2.52287 -0.000171489 2.40882 -0.000171488 2.2897C-0.000171486 2.17058 0.0480403 2.05653 0.133482 1.97353L1.9485 0.210321C2.12312 0.0406877 2.40219 0.044729 2.57183 0.219347C2.74146 0.393966 2.73742 0.673036 2.5628 0.842669L1.52702 1.84888L10.1383 1.84875C10.3817 1.84874 10.5791 2.04609 10.5791 2.28954Z" fill="white"></path>
                    </svg>
                </span>
                Back to Shop
            </a>
          </div>
          <div class="section-title text-center">
            <h2>{{ 'customer.register.title' | t }}</h2> 
          </div> 
        <div class="form-wrapper register-form">
          {%- form 'create_customer', novalidate: 'novalidate' -%}
            <div class="form-container">
              <div class="form-heading">
                <h4>Your Personal Details</h4>
              </div>
            </div>
            <div class="form-container">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group field">
                    <label>First Name<sup aria-hidden="true">*</sup>:</label>
                    <input class="form-control" type="text" name="customer[first_name]" id="RegisterForm-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name"
                    placeholder="{{ 'customer.register.first_name' | t }}">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group field">
                    <label>Last Name<sup aria-hidden="true">*</sup>:</label>
                    <input class="form-control" type="text" name="customer[last_name]" id="RegisterForm-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name" placeholder="{{ 'customer.register.last_name' | t }}">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group field">
                    <label>E-mail<sup aria-hidden="true">*</sup>:</label>
                    <input class="form-control" type="email" name="customer[email]" id="RegisterForm-email" {% if form.email %} value="{{ form.email }}"{% endif %} spellcheck="false" autocapitalize="off"
                    autocomplete="email" aria-required="true" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="RegisterForm-email-error"{% endif %} placeholder="{{ 'customer.register.email' | t }}">
                  </div>
                  {%- if form.errors contains 'email' -%}
                     <div class="form-error">
                    <span id="RegisterForm-email-error" class="form__message">
                      <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13" width="20" height="20" >
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </svg>
                      {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                    </span>
                      </div>
                  {%- endif -%}
                </div> 
              </div> 
            </div>
            <div class="form-container">
              <h4>Your <b>Password</b></h4>
              <div class="row">
                <div class="col-12">
                  <div class="form-group field">
                    <label>Password<sup aria-hidden="true">*</sup>:</label>
                    <input class="form-control" type="password" name="customer[password]" id="RegisterForm-password" aria-required="true" {% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="RegisterForm-password-error"
                    {% endif %} placeholder="{{ 'customer.register.password' | t }}">
                  </div>
                  {%- if form.errors contains 'password' -%}
                    <div class="form-error">
                    <span id="RegisterForm-password-error" class="form__message">
                    <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13" width="20" height="20" >
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                    </svg>
                    {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
                    </span>
                      </div>
                  {%- endif -%}
                </div>
              </div> 
            </div>
            <div class="form-container"> 
              <div class="row align-items-center row-reverse"> 
                <div class="col-lg-4 col-12"> 
                  <button class="btn submit-btn" type="submit">Send message 
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="14" viewBox="0 0 35 14" fill="none">
                      <path d="M25.0749 14L35 7L25.0805 0L29.12 6.06667H0V7.93333H29.12L25.0749 14Z"></path>
                    </svg>
                  </button> 
                </div>
              </div>
            </div>
          {%- endform -%}
        </div>
       </div>
     </div>
   </div>
</section>