<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% style %}
      :root {
        --first-font: {{ settings.body_font | remove: 'Google+' | replace: '+', ' ' }}, sans-serif;
        --theme-color: {{ settings.primary_color }};
        --second-color: {{ settings.secondary_color }};
        --black: {{ settings.primary_font }};
        --white: {{ settings.secondary_font }};
        --border-color: {{ settings.border_color }};
        --h1: normal 700 51px/1.2 var(--first-font);
        --h2: normal 700 41px/1.2 var(--first-font);
        --h3: normal 700 26px/1.2 var(--first-font);
        --h4: normal 700 22px/1.2 var(--first-font);
        --h5: normal 700 18px/1.2 var(--first-font);
        --h6: normal 700 14px/1.2 var(--first-font);
        --common-text: normal 400 14px/1.4 var(--first-font);
      }
    {% endstyle %}

    {% if settings.body_font contains 'Google' %}
      <link href="https://fonts.googleapis.com/css?family={{ settings.body_font | remove: 'Google+' }}:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" as="font">
    {% endif %}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password">
    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
  </body>
</html>
