<div class="container">
  <div class="footer-store-detail d-flex justify-content-between">
    <div class="footer-logo">
        <a href="{{ routes.root_url }}">
          <img src="{{ section.settings.flogo | img_url: 'master' }}" loading="lazy" alt="footer logo">
        </a>
    </div>
    <div class="social-media">
        <ul class="social-links">
          {% if settings.social_youtube_link != blank %}
            <li>
              <a href="{{ settings.social_youtube_link }}" target="_blank">
                {% render 'icon' icon:'youtube'  width: 24 height: 24 %}
              </a>
            </li>
          {% endif %}
          {% if settings.social_facebook_link != blank %}
            <li>
              <a href="{{ settings.social_facebook_link }}" target="_blank">
                {% render 'icon' icon:'facebook' width: 24 height: 24 %}
              </a>
            </li>
          {% endif %}
          {% if settings.social_instagram_link != blank %}
            <li>
              <a href="{{ settings.social_instagram_link }}" target="_blank">
                {% render 'icon' icon:'instagram'  width: 24 height: 24 %}
              </a>
            </li>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
            <li>
              <a href="{{ settings.social_twitter_link }}" target="_blank">
                {% render 'icon' icon:'twitter'  width: 24 height: 24 %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
  </div>
  <div class="footer-row">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        <div class="footer-col footer-link">
          <div class="footer-widget">
            <h4>{{ block.settings.heading }}</h4>
            {% if linklists[block.settings.menu].links != blank %}
              <ul>
                {% for link in linklists[block.settings.menu].links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="footer-col footer-subscribe-col">
      <div class="footer-widget">
        <h4>{{ section.settings.ctitle }}</h4>
        <div class="footer-store__info">

          {% if section.settings.caddress != blank %}
            <div class="icon-text">
              <div class="icon-text__icon">
                {% render 'icon' icon: 'pin-location' width: 25 height: 25 %}
              </div>
              <div class="icon-text__address">
                {{ section.settings.caddress }}
              </div>
            </div>
          {% endif %}


          {% if section.settings.cphone != blank %}
            <a class="icon-text align-items-center" href="tel:{{ section.settings.cphone }}">
              <div class="icon-text__icon">
                {% render 'icon' icon: 'smart-phone' width: 25 height: 25 %}
              </div>
              <div class="icon-text__phone">
                {{ section.settings.cphone }}
              </div>
            </a>
          {% endif %}

          {% if section.settings.cmail != blank %}
            <a class="icon-text align-items-center" href="mail:{{ section.settings.cmail }}">
              <div class="icon-text__icon">
                {% render 'icon' icon: 'mail' width: 25 height: 25 %}
              </div>
              <div class="icon-text__mail">
                {{ section.settings.cmail }}
              </div>
            </a>
          {% endif %}

          {% if section.settings.c_ctaurl != blank and section.settings.c_ctalabel != blank %}
            <div>
              <a href="{{ section.settings.c_ctaurl }}" class="btn btn--white btn--lg">
                {{ section.settings.c_ctalabel }}
              </a>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <p>Copyright © Vistula Foods {{ 'now' | date: '%Y' }}. All rights reserved</p>
      </div>
      <div class="col-12 col-md-6">
          <div class="supported-payment-providers">
            <img src="{{ settings.provider_1 | img_url: 'thumb' }}" loading="lazy" alt="payment provider">
            <img src="{{ settings.provider_2 | img_url: 'thumb' }}" loading="lazy" alt="payment provider">
            <img src="{{ settings.provider_3 | img_url: 'thumb' }}" loading="lazy" alt="payment provider">
            <img src="{{ settings.provider_4 | img_url: 'thumb' }}" loading="lazy" alt="payment provider">
            <img src="{{ settings.provider_4 | img_url: 'thumb' }}" loading="lazy" alt="payment provider">
          </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:settings_schema.footer.name",
  "tag": "footer",
  "class": "site-footer",
  "max_blocks": 2,
  "settings": [
    {
      "type": "image_picker",
      "id": "flogo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "ctitle",
      "label": "Contact Menu Title"
    },
    {
      "type": "textarea",
      "id": "caddress",
      "label": "Contact Menu Address"
    },
    {
      "type": "text",
      "id": "cmail",
      "label": "Contact Menu Email"
    },
    {
      "type": "text",
      "id": "cphone",
      "label": "Contact Menu Phone"
    },
    {
      "type": "text",
      "id": "c_ctalabel",
      "label": "Contact Menu CTA Label"
    },
    {
      "type": "url",
      "id": "c_ctaurl",
      "label": "Contact Menu CTA URL"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Navigation",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:settings_schema.common.settings.title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:settings_schema.footer.nav"
        }
      ]
    }
  ]
}
{% endschema %}
