<ul class="password-list-social" role="list">
  {% if settings.social_twitter_link != blank %}
  <li>
      <a href="{{ settings.social_twitter_link }}" target="_blank">
          <svg width="9" height="8" viewBox="0 0 9 8">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M4.43044 2.01763C4.20198 2.38004 4.12486 2.80517 4.12486 3.00696C4.12486 3.13991 4.05847 3.2642 3.94764 3.33873C3.83681 3.41326 3.69598 3.42833 3.57171 3.37896C3.49044 3.34667 3.39989 3.31384 3.30198 3.27834C3.04833 3.18637 2.74529 3.0765 2.42621 2.91169C2.10216 2.74431 1.74904 2.51698 1.34908 2.17945C1.35404 2.33012 1.38755 2.46812 1.44386 2.59602C1.5753 2.89457 1.85401 3.18975 2.31554 3.46466C2.44181 3.53987 2.51679 3.67745 2.51116 3.8236C2.50553 3.96974 2.42018 4.10122 2.28849 4.16663L2.28805 4.16685L2.28757 4.16708L2.28649 4.16761L2.28388 4.16889L2.27684 4.17226C2.27135 4.17486 2.26425 4.17815 2.25561 4.18202C2.23832 4.18978 2.21479 4.1999 2.18543 4.21157C2.12676 4.23488 2.0444 4.2645 1.94161 4.29367C1.83351 4.32435 1.70189 4.3548 1.55078 4.37673C1.63701 4.68088 1.82918 4.87072 2.03627 5.01412C2.15804 5.09845 2.27585 5.16051 2.39425 5.22289C2.4237 5.23841 2.45319 5.25394 2.48279 5.26985C2.54745 5.30459 2.63246 5.35155 2.70276 5.40742C2.75702 5.45053 2.91481 5.58438 2.91481 5.81155C2.91481 5.9568 2.84849 6.06999 2.80651 6.13049C2.7574 6.20126 2.69541 6.26513 2.63051 6.32098C2.49957 6.43363 2.32381 6.54189 2.11542 6.63057C1.87548 6.73268 1.58255 6.81297 1.2477 6.84189C1.27513 6.85651 1.30429 6.87047 1.33522 6.88378C1.6288 7.01014 2.05815 7.06186 2.57539 7.01516C3.60087 6.92257 4.81744 6.45773 5.65361 5.72899C6.29461 4.99357 6.56609 4.26592 6.67908 3.72664C6.73623 3.45384 6.7529 3.22867 6.75565 3.07497C6.75702 2.99819 6.75491 2.93951 6.75271 2.90197C6.75161 2.88322 6.75048 2.86977 6.74976 2.86203L6.74903 2.85475C6.73716 2.75686 6.76202 2.65782 6.81894 2.57699L6.74914 2.85564L6.74923 2.85633L6.81894 2.57699L7.5609 2.91673C7.55476 2.92604 7.56646 2.90839 7.5609 2.91673C7.5609 2.91673 7.56341 3.02243 7.56222 3.0892C7.5587 3.28607 7.53762 3.56172 7.46886 3.8899C7.331 4.5479 7.00173 5.4149 6.24413 6.2756C6.23297 6.28827 6.22103 6.30023 6.20836 6.31141C5.22888 7.17573 3.83384 7.70615 2.64841 7.81318C2.0563 7.86664 1.47721 7.8182 1.01448 7.61903C0.535329 7.4128 0.165766 7.033 0.0939387 6.46223C0.0781412 6.33669 0.122962 6.21112 0.214839 6.12351C0.306716 6.03589 0.434855 5.99653 0.560485 6.01733C1.08522 6.1042 1.51159 6.01578 1.79775 5.894C1.82628 5.88186 1.87832 5.85712 1.87832 5.85712C1.87832 5.85712 1.67888 5.74345 1.57492 5.67146C1.1493 5.37672 0.696379 4.87855 0.696379 4.0086C0.696379 3.78732 0.876965 3.60794 1.09973 3.60794C1.12906 3.60794 1.15782 3.60739 1.18599 3.60635C0.980502 3.39979 0.816425 3.17076 0.704743 2.91708C0.478326 2.40281 0.49016 1.83928 0.725227 1.25554C0.775582 1.13049 0.885814 1.03894 1.01863 1.01186C1.15144 0.984784 1.28907 1.0258 1.38494 1.12103C1.96468 1.69689 2.41932 2.00496 2.79838 2.20075C3.01615 2.31324 3.20289 2.38736 3.38967 2.45617C3.45442 2.18313 3.56756 1.87656 3.74671 1.59236C4.07763 1.06742 4.64862 0.603027 5.53659 0.603027C6.08741 0.603027 6.44184 0.87266 6.66502 1.05746C6.69191 1.07973 6.71524 1.0992 6.73573 1.11632C6.78733 1.1594 6.82097 1.18749 6.84839 1.20736C7.03175 1.12103 7.19731 1.06054 7.34453 1.03268C7.50103 1.00305 7.72657 0.993969 7.91227 1.14166C8.10767 1.29706 8.13029 1.52058 8.12359 1.65298C8.11656 1.79153 8.07503 1.93028 8.03137 2.04589C7.94217 2.28205 7.80026 2.53308 7.68962 2.71408C7.64115 2.79337 7.59639 2.8629 7.5609 2.91673C7.56797 3.00419 7.56013 2.90847 7.5609 2.91673L6.81894 2.57699L6.8194 2.57634L6.82172 2.57302L6.83176 2.55849C6.84073 2.54543 6.85404 2.52588 6.87061 2.50101C6.90384 2.45113 6.94977 2.38048 7.00007 2.2982C7.07155 2.18126 7.14615 2.05 7.20595 1.92583C7.18168 1.93712 7.15597 1.94948 7.12875 1.963C7.12329 1.96571 7.11776 1.96831 7.11218 1.97077C6.86539 2.07975 6.64304 2.01587 6.48694 1.92807C6.37916 1.86744 6.26913 1.77458 6.1897 1.70755C6.17482 1.69499 6.16101 1.68333 6.14849 1.67296C5.95962 1.51658 5.79247 1.40434 5.53659 1.40434C4.98329 1.40434 4.64674 1.67448 4.43044 2.01763Z">
              </path>
          </svg> 
      </a>
  </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
  <li>
      <a href="{{ settings.social_facebook_link }}" target="_blank">
          <svg width="8" height="8" viewBox="0 0 8 8">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.59564 0.984375C2.89847 0.984375 2.03687 1.19658 1.34001 1.6804C0.628737 2.17423 0.09375 2.95034 0.09375 4.03544C0.09375 4.69687 0.333058 5.1983 0.574931 5.53416C0.679323 5.67911 0.784268 5.79346 0.871055 5.87752L0.518039 7.18469C0.479016 7.32918 0.53443 7.48149 0.659933 7.57468C0.785437 7.66788 0.958064 7.68492 1.10197 7.61831L2.58869 6.93017C3.43084 7.19136 4.58464 7.10231 5.54435 6.69412C6.5965 6.24661 7.50953 5.37102 7.50953 4.03544C7.50953 2.85463 6.94689 2.0672 6.14832 1.59298C5.37505 1.13379 4.41156 0.984375 3.59564 0.984375ZM1.7294 5.84416C1.76936 5.69618 1.71023 5.5405 1.57928 5.44821L1.57783 5.44714C1.57527 5.44525 1.57001 5.4413 1.56243 5.43527C1.54722 5.42321 1.52285 5.40301 1.49229 5.37472C1.43096 5.31794 1.34611 5.22989 1.26052 5.11105C1.09041 4.87483 0.917725 4.51815 0.917725 4.03544C0.917725 3.21362 1.30971 2.65489 1.8344 2.29061C2.3735 1.91632 3.05686 1.74714 3.59564 1.74714C4.32448 1.74714 5.11194 1.88377 5.70343 2.23501C6.26962 2.57123 6.68555 3.11864 6.68555 4.03544C6.68555 4.98814 6.05362 5.63809 5.20034 6.00101C4.3271 6.37243 3.3179 6.39792 2.72797 6.16388C2.61658 6.11969 2.48982 6.12313 2.38143 6.1733L1.53466 6.56524L1.7294 5.84416ZM3.64702 3.35625C3.48309 3.23485 3.24677 3.24696 3.09833 3.38438L2.27436 4.14714C2.11347 4.29608 2.11347 4.53756 2.27436 4.6865C2.43525 4.83544 2.6961 4.83544 2.85699 4.6865L3.42023 4.16511L4.16225 4.71463C4.32618 4.83603 4.5625 4.82391 4.71094 4.6865L5.53491 3.92373C5.69581 3.7748 5.69581 3.53332 5.53491 3.38438C5.37402 3.23544 5.11317 3.23544 4.95228 3.38438L4.38904 3.90577L3.64702 3.35625Z">
              </path>
          </svg> 
      </a>
  </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
  <li>
      <a href="{{ settings.social_instagram_link }}" target="_blank">
          <svg width="9" height="9" viewBox="0 0 9 9" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0.746094 3.26117C0.746094 1.90962 1.74214 0.813965 2.97083 0.813965H5.93714C7.16582 0.813965 8.16187 1.90962 8.16187 3.26117V6.52411C8.16187 7.87567 7.16582 8.97132 5.93714 8.97132H2.97083C1.74214 8.97132 0.746094 7.87567 0.746094 6.52411V3.26117ZM2.97083 1.6297C2.1517 1.6297 1.48767 2.36013 1.48767 3.26117V6.52411C1.48767 7.42515 2.1517 8.15558 2.97083 8.15558H5.93714C6.75626 8.15558 7.42029 7.42515 7.42029 6.52411V3.26117C7.42029 2.36013 6.75626 1.6297 5.93714 1.6297H2.97083ZM3.7124 4.89264C3.7124 5.34316 4.04442 5.70838 4.45398 5.70838C4.86354 5.70838 5.19556 5.34316 5.19556 4.89264C5.19556 4.44212 4.86354 4.07691 4.45398 4.07691C4.04442 4.07691 3.7124 4.44212 3.7124 4.89264ZM4.45398 3.26117C3.63486 3.26117 2.97083 3.99161 2.97083 4.89264C2.97083 5.79368 3.63486 6.52411 4.45398 6.52411C5.27311 6.52411 5.93714 5.79368 5.93714 4.89264C5.93714 3.99161 5.27311 3.26117 4.45398 3.26117ZM6.12253 2.44544C5.81536 2.44544 5.56635 2.71935 5.56635 3.05724C5.56635 3.39513 5.81536 3.66904 6.12253 3.66904C6.4297 3.66904 6.67871 3.39513 6.67871 3.05724C6.67871 2.71935 6.4297 2.44544 6.12253 2.44544Z">
              </path>
          </svg> 
      </a>
  </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
  <li>
      <a href="{{ settings.social_youtube_link }}" target="_blank">
          <svg width="8" height="7" viewBox="0 0 8 7" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1.50015 1.19968C1.99665 1.11278 2.76171 1.03252 3.89246 1.03252C5.02321 1.03252 5.78827 1.11278 6.28476 1.19968C6.62039 1.25842 6.85877 1.58973 6.85877 2.06374V5.00695C6.85877 5.48095 6.62039 5.81226 6.28476 5.871C5.78827 5.9579 5.02321 6.03817 3.89246 6.03817C2.76171 6.03817 1.99665 5.9579 1.50015 5.871C1.16453 5.81226 0.926148 5.48095 0.926148 5.00695V2.06374C0.926148 1.58973 1.16453 1.25842 1.50015 1.19968ZM3.89246 0.198242C2.73147 0.198242 1.92747 0.280581 1.38616 0.37532C0.61158 0.510886 0.18457 1.27374 0.18457 2.06374V5.00695C0.18457 5.79694 0.611581 6.5598 1.38616 6.69536C1.92747 6.7901 2.73147 6.87244 3.89246 6.87244C5.05345 6.87244 5.85745 6.7901 6.39876 6.69536C7.17334 6.5598 7.60035 5.79694 7.60035 5.00695V2.06374C7.60035 1.27374 7.17334 0.510886 6.39876 0.37532C5.85745 0.280581 5.05345 0.198242 3.89246 0.198242ZM3.34671 2.33329C3.46727 2.2607 3.61357 2.26865 3.72735 2.35399L4.83971 3.18826C4.94287 3.26563 5.00482 3.39587 5.00482 3.53534C5.00482 3.67481 4.94287 3.80506 4.83971 3.88242L3.72735 4.7167C3.61357 4.80203 3.46727 4.80999 3.34671 4.7374C3.22615 4.66481 3.15088 4.52346 3.15088 4.36962V2.70107C3.15088 2.54723 3.22615 2.40588 3.34671 2.33329Z">
              </path>
          </svg> 
      </a>
  </li>
  {% endif %}
</ul> 
<div class="password__footer-caption">{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</div>
<div class="password__footer-login">{{ 'general.password_page.admin_link_html' | t }}</div>
{% schema %}
{
  "name": "Password Footer",
  "tag": "footer",
  "class": "password__footer",
  "settings": [
  ]
}
{% endschema %}
