{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
<link
  rel="preload"
  href="{{ 'component-rte.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<div id="ProductGridContainer">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {%- if collection.products.size == 0 -%}
      <div
        class="collection collection--empty container padding-top text-center"
        id="product-grid"
        data-id="{{ section.id }}"
      >
        <h2>
          {{ 'sections.collection_template.empty' | t -}}
          <br>
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: 'btn-secondary' }}
        </h2>
      </div>
    {%- else -%}
      <div class="collection container">
        <div class="product-heading-row row no-gutters">
          <ul class="produdt-filter-cat d-flex align-items-center">
            <li>
              <a href="javascript&colon;history.go(-1)">Home</a>
            </li>
            <li>
              <a href="#">{{- collection.title | escape -}}</a>
            </li>
          </ul>
        </div>
        <div class="product-list-row row no-gutters">
          {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
            {{ 'component-facets.css' | asset_url | stylesheet_tag }}
            <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
            <div
              class="product-filter-column col-lg-3 col-md-4 col-1"
              id="main-collection-filters"
              data-id="{{ section.id }}"
            >
              {% render 'facets',
                results: collection,
                enable_filtering: section.settings.enable_filtering,
                enable_sorting: section.settings.enable_sorting,
                collapse_on_larger_devices: section.settings.collapse_on_larger_devices
              %}
            </div>
          {%- endif -%}
          <div class="product-filter-right-column col-lg-9 col-md-8 col-12">
            <div class="product-filter-header">
              <h3 class="product-filter-header__title">
                {{ collection.title | escape }}
              </h3>
              <div class="filter-select-box d-flex align-items-center justify-content-end">
                {% render 'sorting',
                  results: collection,
                  enable_sorting: section.settings.enable_sorting,
                  collapse_on_larger_devices: section.settings.collapse_on_larger_devices
                %}
              </div>
            </div>
            <div id="product-grid" data-id="{{ section.id }}" class="row">
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                {% if product.available and collection.handle == 'all' %}
                  <div class="grid__item col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12 product-card card">
                    {% render 'card-product',
                      card_product: product,
                      pro_img_widthheight: section.settings.pro_img_widthheight,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_review: section.settings.show_review,
                      show_qty: section.settings.show_qty,
                      show_variants: section.settings.show_variants
                    %}
                  </div>
                {% else %}
                  <div class="grid__item col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12 product-card card">
                    {% render 'card-product',
                      card_product: product,
                      pro_img_widthheight: section.settings.pro_img_widthheight,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_review: section.settings.show_review,
                      show_qty: section.settings.show_qty,
                      show_variants: section.settings.show_variants
                    %}
                  </div>
                {% endif %}
              {%- endfor -%}
            </div>
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "t:settings_schema.coll_page.name",
  "tag": "section",
  "class": "product-listing-section padding-bottom",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:settings_schema.coll_page.s_product"
    },
    {
      "type": "header",
      "content": "t:settings_schema.common.settings.pro_set"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:settings_schema.common.settings.pro_hvr_img"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:settings_schema.common.settings.sh_ven"
    },
    {
      "type": "checkbox",
      "id": "show_review",
      "default": true,
      "label": "t:settings_schema.common.settings.sh_rev"
    },
    {
      "type": "checkbox",
      "id": "show_variants",
      "default": true,
      "label": "t:settings_schema.common.settings.sh_var"
    },
    {
      "type": "checkbox",
      "id": "show_qty",
      "default": true,
      "label": "t:settings_schema.common.settings.sh_qty"
    },
    {
      "type": "text",
      "id": "pro_img_widthheight",
      "default": "600x600",
      "label": "t:settings_schema.common.settings.width_height"
    },
    {
      "type": "header",
      "content": "t:settings_schema.coll_page.f_set"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:settings_schema.coll_page.d_filter"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:settings_schema.coll_page.d_sorting"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:settings_schema.coll_page.d_mobile_filter"
    }
  ]
}
{% endschema %}
