<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<cart-items class="{% if cart == empty %} is-empty{% endif %}">
  <div class="section-title main">
    <a href="{{ routes.all_products_collection_url }}" class="back-btn">
      <span class="svg-ic">
          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 5" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5791 2.28954C10.5791 2.53299 10.3818 2.73035 10.1383 2.73035L1.52698 2.73048L2.5628 3.73673C2.73742 3.90636 2.74146 4.18544 2.57183 4.36005C2.40219 4.53467 2.12312 4.53871 1.9485 4.36908L0.133482 2.60587C0.0480403 2.52287 -0.000171489 2.40882 -0.000171488 2.2897C-0.000171486 2.17058 0.0480403 2.05653 0.133482 1.97353L1.9485 0.210321C2.12312 0.0406877 2.40219 0.044729 2.57183 0.219347C2.74146 0.393966 2.73742 0.673036 2.5628 0.842669L1.52702 1.84888L10.1383 1.84875C10.3817 1.84874 10.5791 2.04609 10.5791 2.28954Z" fill="white"></path>
          </svg>
      </span>
      {{ 'general.continue_shopping' | t }}
    </a> 
    <h2>{{ 'sections.cart.title' | t }}</h2>
  </div>
  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
  <div id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents order-historycontent">
          {%- if cart != empty -%}
              <table class="cart-tble"> 
                  <thead>
                      <tr>
                          <th colspan="1" scope="col">{{ 'sections.cart.headings.image' | t }}</th>
                          <th colspan="1" scope="col">{{ 'sections.cart.headings.name' | t }}</th>
                          <th colspan="1" scope="col">{{ 'sections.cart.headings.price' | t }}</th>
                          <th colspan="1" scope="col">{{ 'sections.cart.headings.quantity' | t }}</th>
                          <th colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {%- for item in cart.items -%}
                          <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                              <td class="cart-item__media" data-label="Product">
                                  {% if item.image %}
                                  {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                                      <a href="{{ item.url }}">
                                          <img src="{{ item.image | img_url: '125x' }}">
                                      </a>
                                  {% endif %}
                              </td> 
                              <td data-label="Name">
                                  {%- if section.settings.show_vendor -%}
                                      <p class="cart-item__vendor">{{ item.product.vendor }}</p>
                                  {%- endif -%}
                                  <a href="{{ item.url }}" class="cart-item__name">{{ item.product.title | escape }}</a>
                                  {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                                      <dl>
                                          {%- if item.product.has_only_default_variant == false -%}
                                              {%- for option in item.options_with_values -%}
                                                  <div class="product-option">
                                                      <dt>{{ option.name }}:</dt>
                                                      <dd>{{ option.value }}</dd>
                                                  </div>
                                              {%- endfor -%}
                                          {%- endif -%}
                                          {%- for property in item.properties -%}
                                              {%- assign property_first_char = property.first | slice: 0 -%}
                                              {%- if property.last != blank and property_first_char != '_' -%}
                                                  <div class="product-option">
                                                      <dt>{{ property.first }}:</dt>
                                                  <dd>
                                                  {%- if property.last contains '/uploads/' -%}
                                                      <a href="{{ property.last }}" class="link" target="_blank">{{ property.last | split: '/' | last }}</a>
                                                  {%- else -%}
                                                      {{ property.last }}
                                                  {%- endif -%}
                                                  </dd>
                                                  </div>
                                              {%- endif -%}
                                          {%- endfor -%}
                                      </dl>
                                      <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                                  {%- endif -%}
                                  <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                      {%- for discount in item.discounts -%}
                                          <li class="discounts__discount">
                                              {%- render 'icon-discount' -%}
                                              {{ discount.title }}
                                          </li>
                                      {%- endfor -%}
                                  </ul>
                              </td>
                              <td data-label="cart-price"> 
                                  {%- if item.original_price != item.final_price -%}
                                      <div class="cart-item__discounted-prices">
                                          <span class="visually-hidden">
                                              {{ 'products.product.price.sale_price' | t }}
                                          </span> 
                                          <strong class="cart-item__final-price product-option">
                                              {% if settings.currency_code_enabled %}
                                                  {{ item.final_price | money_with_currency }}
                                              {% else %}
                                                  {{ item.final_price | money }}
                                              {% endif %}
                                          </strong>
                                          <span class="visually-hidden">
                                              {{ 'products.product.price.regular_price' | t }}
                                          </span>
                                          <s class="cart-item__old-price product-option">
                                              {% if settings.currency_code_enabled %}
                                                  {{ item.original_price | money_with_currency }}
                                              {% else %}
                                                  {{ item.original_price | money }}
                                              {% endif %}
                                          </s>
                                      </div>
                                  {%- else -%}
                                          {% if settings.currency_code_enabled %}
                                              {{ item.original_price | money_with_currency }}
                                          {% else %}
                                              {{ item.original_price | money }}
                                          {% endif %}
                                  {%- endif -%}
                              </td> 
                              <td class="cart-item__quantity" data-label="quantity">
                                  <div class="cart-item__quantity-wrapper">
                                      <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">{{ 'products.product.quantity.label' | t }}</label>
                                      <quantity-input class="qty-spinner quantity">
                                          <button class="quantity-decrement quantity__button no-js-hidden" name="minus" type="button">
                                              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                              <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M0 0.251343V1.74871H12V0.251343H0Z" fill="#61AFB3"></path>
                                              </svg>
                                          </button>
                                          <input class="quantity__input" type="number" name="updates[]" value="{{ item.quantity }}" min="0" aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                          id="Quantity-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                          <button class="quantity__button no-js-hidden" name="plus" type="button">
                                              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M6.74868 5.25132V0H5.25132V5.25132H0V6.74868H5.25132V12H6.74868V6.74868H12V5.25132H6.74868Z" fill="#61AFB3"></path>
                                              </svg>
                                          </button>
                                      </quantity-input>
                                  </div>
                                  <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                                      <small class="cart-item__error-text"></small>
                                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                      </svg>
                                  </div>
                              </td>
                              <td class="cart-item__totals right " data-label="Total">
                                  <div class="loading-overlay hidden">
                                      <div class="loading-overlay__spinner">
                                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                          </svg>
                                      </div>
                                  </div>
                                  <div class="cart-item__price-wrapper">
                                      {%- if item.original_line_price != item.final_line_price -%}
                                          <dl class="cart-item__discounted-prices">
                                              <dt class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</dt>
                                              <dd class="price price--end">
                                                {% if settings.currency_code_enabled %}
                                                    {{ item.final_line_price | money_with_currency }}
                                                {% else %}
                                                  {{ item.final_line_price | money }}
                                                {% endif %}
                                                </dd>
                                              <dt class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</dt>
                                              <dd>
                                                  <s class="cart-item__old-price price price--end">{{ item.original_line_price | money }}</s>
                                              </dd>
                                          </dl>
                                      {%- else -%}
                                          <span class="price--end">
                                            {% if settings.currency_code_enabled %}
                                                {{ item.original_line_price | money_with_currency }}
                                            {% else %}
                                                {{ item.original_line_price | money }}
                                            {% endif %}
                                            </span>
                                      {%- endif -%}
                                      {%- if item.variant.available and item.unit_price_measurement -%}
                                          <div class="unit-price caption">
                                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                              {{ item.variant.unit_price | money }}
                                              <span aria-hidden="true">/</span>
                                              <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                              {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                              {{- item.variant.unit_price_measurement.reference_value -}}
                                              {%- endif -%}
                                              {{ item.variant.unit_price_measurement.reference_unit }}
                                          </div>
                                      {%- endif -%}
                                  </div>
                                  <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" class="remove-btn" data-index="{{ item.index | plus: 1 }}">
                                    <a href="{{ item.url_to_remove }}" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                                        <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                                        <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                                      </svg> 
                                    </a>
                                </cart-remove-button>
                              </td>
                          </tr> 
                      {% endfor %}
                  </tbody>
              </table>
          {%- endif -%}
      </div>
  </div>
<p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
<p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
</form>
</cart-items>
<div class="cart__warnings {% if cart != empty %} is-empty{% endif %}">
  <div class="section-title"><h3>{{ 'sections.cart.empty' | t }}</h3></div>
  <a href="{{ routes.all_products_collection_url }}" class="common-btn2"> {{ 'general.continue_shopping' | t }}</a>
</div>
{% schema %}
{
  "name": "t:settings_schema.cart.c_header",
  "class": "cart__items-wrapper col-lg-9 col-12",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:settings_schema.common.sh_ven"
    }
  ]
}
{% endschema %}
