{{ 'why-grocerywala.css' | asset_url | stylesheet_tag }}

<div class="why-grocery__wrap background-section">
  <div class="container why-grocery__container">
    <h3 class="why-grocery__sectiontitle">
      {{ section.settings.title }}
    </h3>
    <div class="why-grocery__row">
      {% for slide in section.blocks %}
        {% if slide.type == 'slide' %}
          <div class="why-grocery__slide">
            <div class="why-grocery__content">
              <div class="why-grocery__icon">
                {{ slide.settings.icon }}
              </div>
              <div class="why-grocery__title">
                {{ slide.settings.title }}
              </div>
              <div class="why-grocery__substitle">
                {{ slide.settings.sub_title }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Why Grocerywala",
    "class": "padding-bottom",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Why choose Grocerywala ?"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "limit": 4,
        "name": "Slide",
        "settings": [
          {
            "type": "textarea",
            "id": "icon",
            "label": "Icon SVG"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Why Grocerywala",
        "settings": {
          "title": "Why choose Grocerywala ?"
        },
        "blocks": [
          {
            "type": "slide",
            "settings": {
              "icon": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"56\" height=\"56\" viewbox=\"0 0 56 56\" fill=\"none\">\n<path d=\"M4.125 28C4.125 14.7452 14.8702 4 28.125 4C41.3798 4 52.125 14.7452 52.125 28C52.125 41.2548 41.3798 52 28.125 52C14.8702 52 4.125 41.2548 4.125 28Z\" fill=\"#ECF6E0\"><\/path>\n<path d=\"M4.125 28C4.125 14.7452 14.8702 4 28.125 4C41.3798 4 52.125 14.7452 52.125 28C52.125 41.2548 41.3798 52 28.125 52C14.8702 52 4.125 41.2548 4.125 28Z\" stroke=\"#F8FBF3\" stroke-width=\"7.2\"><\/path>\n<path d=\"M38.125 28C38.125 22.4771 33.6478 18 28.125 18C22.6021 18 18.125 22.4771 18.125 28C18.125 33.5228 22.6021 38 28.125 38C33.6478 38 38.125 33.5228 38.125 28Z\" stroke=\"#8BC53F\" stroke-width=\"1.5\"><\/path>\n<path d=\"M24.125 28.75C24.125 28.75 25.725 29.6625 26.525 31C26.525 31 28.925 25.75 32.125 24\" stroke=\"#8BC53F\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><\/path>\n<\/svg>",
              "title": "Quality",
              "sub_title": "You can trust"
            }
          }, {
            "type": "slide",
            "settings": {
              "icon": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"56\" height=\"56\" viewbox=\"0 0 56 56\" fill=\"none\">\n<path d=\"M4.375 28C4.375 14.7452 15.1202 4 28.375 4C41.6298 4 52.375 14.7452 52.375 28C52.375 41.2548 41.6298 52 28.375 52C15.1202 52 4.375 41.2548 4.375 28Z\" fill=\"#ECF6E0\"><\/path>\n<path d=\"M4.375 28C4.375 14.7452 15.1202 4 28.375 4C41.6298 4 52.375 14.7452 52.375 28C52.375 41.2548 41.6298 52 28.375 52C15.1202 52 4.375 41.2548 4.375 28Z\" stroke=\"#F8FBF3\" stroke-width=\"7.2\"><\/path>\n<path d=\"M28.375 38C33.8978 38 38.375 33.5228 38.375 28C38.375 22.4772 33.8978 18 28.375 18C22.8522 18 18.375 22.4772 18.375 28C18.375 33.5228 22.8522 38 28.375 38Z\" stroke=\"#8AC43F\" stroke-width=\"1.5\"><\/path>\n<path d=\"M28.375 24V28L30.375 30\" stroke=\"#8AC43F\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><\/path>\n<\/svg>",
              "title": "On time",
              "sub_title": "Guarantee"
            }
          }, {
            "type": "slide",
            "settings": {
              "icon": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"56\" height=\"56\" viewbox=\"0 0 56 56\" fill=\"none\">\n<path d=\"M3.625 28C3.625 14.7452 14.3702 4 27.625 4C40.8798 4 51.625 14.7452 51.625 28C51.625 41.2548 40.8798 52 27.625 52C14.3702 52 3.625 41.2548 3.625 28Z\" fill=\"#ECF6E0\"><\/path>\n<path d=\"M3.625 28C3.625 14.7452 14.3702 4 27.625 4C40.8798 4 51.625 14.7452 51.625 28C51.625 41.2548 40.8798 52 27.625 52C14.3702 52 3.625 41.2548 3.625 28Z\" stroke=\"#F8FBF3\" stroke-width=\"7.2\"><\/path>\n<path d=\"M19.625 30H22.0198C22.314 30 22.6041 30.0663 22.8672 30.1936L24.9092 31.1816C25.1722 31.3089 25.4624 31.3751 25.7565 31.3751H26.7991C27.8075 31.3751 28.625 32.1662 28.625 33.142C28.625 33.1814 28.598 33.2161 28.5588 33.2269L26.0179 33.9295C25.5621 34.0555 25.074 34.0116 24.65 33.8064L22.4671 32.7503\" stroke=\"#8AC43F\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><\/path>\n<path d=\"M28.625 32.5L33.2178 31.0889C34.032 30.8352 34.9121 31.136 35.4221 31.8423C35.7909 32.3529 35.6407 33.0842 35.1035 33.3942L27.5879 37.7305C27.1099 38.0063 26.5459 38.0736 26.0202 37.9176L19.625 36.0199\" stroke=\"#8AC43F\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><\/path>\n<path d=\"M30.625 28H28.625C26.7394 28 25.7966 28 25.2108 27.4142C24.625 26.8284 24.625 25.8856 24.625 24V22C24.625 20.1144 24.625 19.1716 25.2108 18.5858C25.7966 18 26.7394 18 28.625 18H30.625C32.5106 18 33.4534 18 34.0392 18.5858C34.625 19.1716 34.625 20.1144 34.625 22V24C34.625 25.8856 34.625 26.8284 34.0392 27.4142C33.4534 28 32.5106 28 30.625 28Z\" stroke=\"#8AC43F\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><\/path>\n<path d=\"M28.625 21H30.625\" stroke=\"#8AC43F\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><\/path>\n<\/svg>",
              "title": "Delivery",
              "sub_title": "with care"
            }
          }, {
            "type": "slide",
            "settings": {
              "icon": "<svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"56\" height=\"56\" viewbox=\"0 0 56 56\" fill=\"none\">\n<path d=\"M3.875 28C3.875 14.7452 14.6202 4 27.875 4C41.1298 4 51.875 14.7452 51.875 28C51.875 41.2548 41.1298 52 27.875 52C14.6202 52 3.875 41.2548 3.875 28Z\" fill=\"#ECF6E0\"><\/path>\n<path d=\"M3.875 28C3.875 14.7452 14.6202 4 27.875 4C41.1298 4 51.875 14.7452 51.875 28C51.875 41.2548 41.1298 52 27.875 52C14.6202 52 3.875 41.2548 3.875 28Z\" stroke=\"#F8FBF3\" stroke-width=\"7.2\"><\/path>\n<path d=\"M31.2769 31.9773H34.5162C35.7954 31.9557 37.7496 32.629 37.7496 35.0572C37.7496 37.5767 35.3381 37.9991 34.5162 37.9991C33.6943 37.9991 25.9325 37.9991 23.6953 37.9991C21.1893 37.9991 17.751 37.4915 17.751 33.1682V24.0029H37.7496V28.5199M31.2769 31.9773C31.2823 31.7634 31.3733 31.5513 31.5501 31.3972L33.2519 29.9769M31.2769 31.9773C31.2712 32.2055 31.363 32.4358 31.5523 32.5997L33.2519 33.9833\" stroke=\"#8AC43E\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><\/path>\n<path d=\"M17.7559 23.9912L18.6774 21.6903C19.4252 19.9021 19.7991 19.008 20.5569 18.5046C21.3148 18.0012 22.2869 18.0012 24.2311 18.0012H31.2504C33.1947 18.0012 34.1667 18.0012 34.9246 18.5046C35.6825 19.008 36.0563 19.9021 36.8042 21.6903L37.75 23.9948\" stroke=\"#8AC43E\" stroke-width=\"1.5\" stroke-linecap=\"round\"><\/path>\n<path d=\"M27.7129 24.0012V18.0012\" stroke=\"#8AC43E\" stroke-width=\"1.5\" stroke-linecap=\"round\"><\/path>\n<path d=\"M25.7129 28.0012H29.7129\" stroke=\"#8AC43E\" stroke-width=\"1.5\" stroke-linecap=\"round\"><\/path>\n<\/svg>",
              "title": "Return policy",
              "sub_title": "Easy"
            }
          }
        ]
      }
    ]
  }
{% endschema %}